$color:#fff;
$color1: #BCCE56;
@mixin dispFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin top-tooltipInf {
    text-align: center;
    visibility: hidden;
    padding: 10px;
    pointer-events: none;
    grid-column: 1/ -1;
    grid-row: 2/ span 1;
    transform: translateY(-150%);
    background-color: rgba(214, 214, 209, .8);
}